*.safetensors
*.npy
*.txt
*__pycache__*
slurm*
logs/*
*.ipynb
scratch*
*.sh
models/*
sample/*
!sample/sample_features.py
!sample/filter_positional_features.py
configs/*
!configs/config_data.py
!configs/config_template.yaml
data/*
!data/dataloading.py

